body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1248px;
  margin: 112px auto;
}

.ml-21 {
  margin-left: -16%;
  overflow: hidden;
}

.mr-21 {
  margin-right: -16%;
  overflow: hidden;
}

.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.mt-64 {
  margin-top: 64px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.bg-F5F5F5 {
  background-color: #f5f5f5;
}

.bg-EDEDFF {
  background-color: #ededff;
}

.bg-FFEBD8 {
  background-color: #ffebd8;
}

.bg-F2A156 {
  background-color: #f2a156;
}

.bg-F5F5F5 {
  background: #f5f5f5 !important;
}

.bg-5C59D4 {
  background-color: #5c59d4;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 96px;
  border-bottom: 1px solid #dbdbdb;
}

.mt-48 {
  margin-top: 48px;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.hidden {
  display: none;
}

.logo:hover {
  cursor: pointer;
}
.nav-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
}
.nav-item:hover {
  cursor: pointer;
  color: #ff6e00;
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.nav-icon-list {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.nav-icon:hover {
  cursor: pointer;
  color: #ff6e00;
}

.header-main-text {
  color: #121212;
  text-align: center;
  font-size: 72px;
  font-weight: 500;
  line-height: 82px;
  letter-spacing: -2.88px;
  margin-bottom: 27px;
  margin-top: 93px;
}

.header-sub-text {
  margin: 0 auto;
  color: #505050;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  max-width: 520px;
}
.search-div {
  background-color: #f5f5f5;
  display: flex;
  padding: 14px 14px 14px 24px;
  align-items: center;
  justify-content: space-between;
  margin: 76px auto 0;
  max-width: 630px;
}
.div-input {
  display: flex;
  align-items: center;
  gap: 14px;
}
.input-search {
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  background-color: #f5f5f5;
  color: #a8a8a8;
}
.input-search:focus {
  outline: none;
}
.input-search:hover {
  cursor: pointer;
}
.search-btn {
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  background-color: #d64d00;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.search-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.best-seller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex: 1;
  margin-top: 76px;
}

.best-seller-item {
  flex: 2;
}
.half-item {
  flex: 1;
}
.img-best-seller {
  width: 100%;
  object-fit: cover;
  max-height: 387px;
}

.big-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin-top: 76px;
}

.brand-item {
  display: block;
}

.brand-item-img {
  object-fit: cover;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.check-out-btn {
  margin: 0 auto;
  padding: 4px 24px;
  background: #f5f5f5;
  color: #d64d00;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.36px;
  border: none;
}

.check-out-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.testimonial-btn {
  margin: 0 auto;
  padding: 4px 24px;
  background: #ececec;
  color: #d64d00;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.36px;
  border: none;
}

.testimonial-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.heading-text {
  color: #121212;
  text-align: center;
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -1.38px;
  margin: 15px auto;
}
.heading-sub-text {
  color: #505050;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  max-width: 450px;
  margin: 0;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  flex: 1;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.product-image-wrap {
  display: inline-flex;
  padding: 11px 12px 20px 11px;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  background-color: #f5f5f5;
}

.product-image-wrap:hover {
  cursor: pointer;
  opacity: 0.8;
}

.product-image {
  position: relative;
}

.discount-btn {
  padding: 2px 8px;
  background-color: #d64d00;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #fff;
}

.product-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-btn {
  background-color: #f5f5f5;
  color: #d64d00;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.product-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.product-name {
  color: #505050;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.product-price {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.old-price {
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-decoration: line-through;
  margin: 0;
}

.new-price {
  color: #121212;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.36px;
  margin: 0;
}

.testimonial-section {
  margin: 112px auto 0;
  background-color: #f5f5f5;
  padding: 66px 0;
}

.feedback-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 100vw;
  overflow: hidden;
}

.feedback-card {
  flex: 1;
  /* max-width: 540px; */
  display: flex;
  padding: 42px;
  flex-direction: column;
  gap: 28px;
  background-color: #fff;
}

.feedback-icon-desktop {
  max-width: 55px;
}
.feedback-content {
  color: #505050;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.36px;
  margin: 0 auto;
}

.feedback-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback-avt {
  display: flex;
  gap: 10px;
}
.feedback-avt-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feedback-avt-img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.feedback-name {
  color: #121212;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.feedback-name:hover {
  cursor: pointer;
}

.category-list {
  display: flex;
  gap: 24px;
}

.category-card {
  display: flex;
  flex-direction: row;
}

.category-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.category-info {
  margin: 50px 0 50px 40px;
}

.category-name {
  color: #121212;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.show-now {
  padding: 6px 18px;
  border: 1px solid #5c59d4;
  background: #fff;
  color: #121212;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.show-now:hover {
  cursor: pointer;
  /* opacity: 0.8; */
  background-color: #5c59d4;
  color: #fff;
}

.category-image {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.btn-item {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid #dbdbdb;
  gap: 14px;
  background-color: #fff;
}

.btn-item-content {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin: 0;
}

.btn-item-active {
  cursor: pointer;
  border-radius: 32px;
  border: 1px solid #5c59d4;
  background-color: #ededff;
}

.btn-item-content-active {
  color: #5c59d4;
}

.btn-item:hover {
  cursor: pointer;
  border-radius: 32px;
  border: 1px solid #5c59d4;
  background-color: #ededff;
}

.btn-item:hover .btn-item-content {
  color: #5c59d4;
}

.btn-item:hover .btn-icon-svg {
  color: #5c59d4;
}

.galery-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.galery-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex: 1;
  align-items: center;
}

.img-galery {
  object-fit: cover;
  display: block;
  margin: 0;
  /* width: 100%; */
}

.img-galery:hover {
  cursor: pointer;
  opacity: 0.8;
}

.galery-item-2 {
  flex: 2;
  display: block;
}

.galery-item-3 {
  display: block;
  flex: 3;
}

.review-wrap {
  padding-top: 64px;
}

.review {
  position: relative;
  margin-bottom: 0;
}

.review-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 540px;
}
.user-image-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-image-wrap:hover {
  cursor: pointer;
  opacity: 0.8;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.user-desc:hover {
  cursor: pointer;
  opacity: 0.8;
}

.user-info-name {
  color: #121212;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
  margin: 0;
}

.user-info-title {
  color: #121212;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.32px;
  margin: 0;
}

.review-content {
  color: #505050;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.36px;
}

.back-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  left: 53%;
  top: 8px;
}

.back-next-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  border-radius: 100px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.back-next-div:hover {
  background-color: #5c59d4;
  border: 1px solid #5c59d4;
  cursor: pointer;
  color: #fff;
}

.our-review {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100px;
}

.our-review-btn {
  display: flex;
  background-color: #ececec;
  padding: 4px 24px;
  color: #5c59d4;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.36px;
  border: none;
}

.our-review-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.our-review-title {
  color: #121212;
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -1.38px;
  max-width: 300px;
  margin-top: 18px;
  margin-bottom: 16px;
}

.our-review-content {
  color: #505050;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  max-width: 320px;
}

.our-review-icon {
  position: absolute;
  top: 184px;
  left: 43%;
}

.our-review-img {
  width: 208px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 130px 0 60px 0;
}

.subscribe-text {
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -1.02px;
  max-width: 420px;
}

.subscribe-div {
  background-color: #f5f5f5;
  display: flex;
  padding: 14px 14px 14px 24px;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.input-subscribe {
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  background-color: #f5f5f5;
  color: #a8a8a8;
}
.input-subscribe:focus {
  outline: none;
}
.input-subscribe:hover {
  cursor: pointer;
}

.subscribe-btn {
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  background-color: #5c59d4;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.subscribe-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer {
  position: relative;
}

.footer-img-abs {
  position: absolute;
  top: 400px;
}

.wrap-footer {
  padding: 80px 0;
}

.footer-content {
  display: flex;
  margin-bottom: 64px;
  gap: 160px;
}

.logo-content {
  margin-top: 28px;
  color: #f5f5f5;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  max-width: 220px;
}

.footer-list {
  display: flex;
  gap: 120px;
}

.footer-item-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 16px;
  margin-top: 0;
}
.footer-item-sub-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-item-sub {
  color: #f5f5f5;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.copyright {
  margin-top: 24px;
}

.copyright-text {
  color: #f5f5f5;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer-list-mobile {
  display: none;
}

/*Slider*/
.slides {
  width: 100%;
  transition: 1s ease-in-out all;
  display: flex;
  position: absolute;
}
.slide {
  min-width: 100%;
  min-height: 416px;
  height: auto;
  left: 0;
}

.carousel {
  width: 540px;
  height: 616px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

/*
Responsive
max-width: 480px
*/

.nav-icon-mobile {
  display: none;
}

.product-btn-icon-mobile {
  display: none;
}

.feedback-icon-mobile {
  display: none;
}

.btn-item-icon-mobile {
  display: none;
}

.search-icon-mobile {
  display: none;
}

.hidden-desktop {
  display: none;
}

.hidden-dk {
  display: none;
}

@media only screen and (max-width: 480px) {
  .container-mobile {
    margin-right: 24px;
    margin-left: 24px;
  }

  .hidden-mobile {
    display: none !important;
  }

  .hidden-desktop {
    display: block !important;
  }

  .nav {
    flex: 1;
    padding: 30px 25px;
    border-bottom: none;
  }
  .nav-list {
    display: none;
  }

  .nav-icon {
    display: none;
  }

  .header-main-text {
    color: #23262f;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 43px;
  }

  .header-sub-text {
    color: #23262f;
    text-align: center;
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.14px;
    max-width: 70%;
    margin-bottom: 50px;
  }

  .search-div {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 14.268px 7.829px 13.171px;
    gap: 47px;
    max-width: 70%;
    margin-top: 0;
  }

  .search-icon-desktop {
    display: none;
  }

  .search-icon-mobile {
    display: block;
  }

  .nav-icon-mobile {
    display: flex;
  }

  .menu-li {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  .menu-li:hover {
    color: tomato;
  }

  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  .close-icon {
    display: block;
    width: 33px;
    height: 4px;
    position: relative;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .menu {
    position: absolute;
    width: 344px;
    margin: -100px 0 0 -350px;
    padding: 30px;
    padding-top: 90px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-li {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 22px;
  }

  .menu-close {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    font-size: 22px;
  }

  .close-icon {
    width: 24px;
    height: 24px;
  }

  /*
* And let's slide it in from the left
*/
  .menuToggle input:checked ~ ul {
    transform: none;
  }

  .input-search {
    color: #a8a8a8;
    font-size: 11px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 16.463px; /* 150% */
    letter-spacing: -0.22px;
    background-color: #f5f5f5;
    color: #a8a8a8;
  }

  .search-btn {
    display: flex;
    padding: 6.585px 15.366px;
    justify-content: center;
    align-items: center;
    background-color: #d64d00;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 12.073px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.463px;
  }

  .best-seller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.8px;
    flex: 1;
    margin-top: 43px;
    margin-bottom: 43px;
  }

  .big-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .best-seller-mobile {
    display: none;
  }

  .product-section {
    margin-top: 42px;
    margin-bottom: 42px;
  }

  .check-out-btn {
    margin: 0 auto;
    padding: 2.096px 12.577px;
    background: #f5f5f5;
    color: #d64d00;
    font-weight: 600;
    border: none;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 13.625px; /* 136.248% */
    letter-spacing: -0.2px;
  }

  .heading {
    margin-bottom: 25px !important;
  }

  .heading-text {
    color: #121212;
    text-align: center;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.477px; /* 97.387% */
    letter-spacing: -0.6px;
    margin: 6px auto;
  }

  .heading-sub-text {
    color: #505050;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.625px; /* 136.248% */
    letter-spacing: -0.2px;
    max-width: 70%;
  }

  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    flex: 1;
    flex-wrap: wrap;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    object-fit: cover;
  }

  .product-image-wrap {
    display: inline-flex;
    padding: 6.143px 6.702px 10.574px 6.143px;
    flex-direction: column;
    align-items: center;
    gap: 12.85px;
    background-color: #f5f5f5;
  }

  .product-image {
    position: relative;
  }

  .product-img-footer {
    width: 363px;
  }
  .discount-btn {
    padding: 1.117px 4.468px;
    background-color: #d64d00;
    position: absolute;
    top: 9px;
    left: 9px;
    color: #fff;
    font-size: 8.936px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.404px; /* 150% */
    letter-spacing: -0.179px;
  }

  .product-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-btn {
    background-color: #f5f5f5;
    color: #d64d00;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 8.936px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.404px; /* 150% */
    letter-spacing: -0.179px;
  }

  .product-btn-icon-desktop {
    display: none;
  }

  .product-btn-icon-mobile {
    display: block;
  }

  .product-card-content {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
  }

  .product-name {
    color: #505050;
    margin: 0;
    font-size: 7.82px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.404px; /* 140% */
  }

  .product-price {
    margin-top: 5.61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  .old-price {
    color: #d4d4d4;
    text-decoration: line-through;
    margin: 0;
    font-size: 8.936px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.404px; /* 150% */
    letter-spacing: -0.179px;
  }

  .new-price {
    color: #121212;
    margin: 0;
    font-size: 10.053px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.521px; /* 144.444% */
    letter-spacing: -0.201px;
  }

  .testimonial-section {
    margin-top: 0;
    background-color: #f5f5f5;
    padding: 24px 0;
  }

  .testimonial-btn {
    margin: 0 auto;
    padding: 1.391px 8.347px;
    background: #ececec;
    color: #d64d00;
    border: none;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 9.043px; /* 90.431% */
    letter-spacing: -0.2px;
  }

  .feedback-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.36px;
    max-width: 100vw;
    overflow: hidden;
  }

  .feedback-card {
    flex: 1;
    /* max-width: 540px; */
    display: flex;
    padding: 14.61px;
    flex-direction: column;
    gap: 8.36px;
    background-color: #fff;
  }
  .feedback-card-hidden {
    display: none !important;
  }

  .feedback-icon-desktop {
    max-width: 55px;
  }

  .feedback-content {
    color: #505050;
    font-family: Open Sans;
    margin: 0 auto;
    font-size: 7.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 146.667% */
    letter-spacing: 0.038px;
  }

  .feedback-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .feedback-avt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .feedback-avt-img {
    width: 17.043px;
    height: 17.738px;
    border-radius: 50%;
  }

  .feedback-name {
    color: #121212;
    text-align: center;
    font-size: 6.261px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 159.729% */
    letter-spacing: -0.125px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .feedback-icon-desktop {
    display: none;
  }

  .feedback-icon-mobile {
    display: block;
  }

  .star {
    width: 8px;
    height: 8px;
  }

  .half-star {
    width: 8px;
    height: 8px;
  }

  .category-section {
    margin-top: 42px !important;
    margin-bottom: 42px !important;
  }

  .category-list {
    display: flex;
    flex-direction: column;
  }

  .category-card {
    display: flex;
    flex-direction: row;
  }

  .category-card:hover {
    cursor: pointer;
    opacity: 1;
  }

  .category-info {
    margin: 36px 0 36px 32px;
  }

  .category-name {
    color: #121212;
    font-weight: 500;
    font-size: 20.442px;
    line-height: 27.256px; /* 133.333% */
    margin: 11px 0;
  }

  .show-now {
    border: 1px solid #5c59d4;
    background: #fff;
    color: #121212;
    text-align: center;
    padding: 5.111px 12px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.849px; /* 140% */
  }

  .galery-section {
    margin-top: 0;
    margin-bottom: 42px !important;
  }

  .btn-list {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }

  .btn-item {
    display: flex;
    padding: 6px 11px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid #dbdbdb;
    gap: 6.84px;
    background-color: #fff;
  }

  .btn-item-active {
    cursor: pointer;
    border-radius: 32px;
    border: 1px solid #5c59d4;
    background-color: #ededff;
  }

  .btn-item-content {
    color: #121212;
    font-family: Inter;
    margin: 0;
    font-size: 9.6px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.679px; /* 140% */
    letter-spacing: -0.195px;
  }
  .btn-item-icon-desktop {
    display: none;
  }
  .btn-item-icon-mobile {
    display: block;
  }

  .galery-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .galery-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1;
    align-items: center;
  }

  .img-galery {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 120px;
  }

  .review-wrap {
    padding-top: 28px;
    padding-bottom: 140px;
  }

  .our-review {
    position: relative;
  }
  .review {
    margin-bottom: 0;
  }

  .our-review-btn {
    display: flex;
    background-color: #ececec;
    color: #5c59d4;
    text-align: center;
    border: none;
    display: flex;
    padding: 2.297px 13.785px;
    justify-content: center;
    align-items: center;
    font-size: 10.339px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.933px; /* 144.444% */
    letter-spacing: -0.207px;
    position: relative;
  }

  .our-review-title {
    position: relative;
    color: #121212;
    font-size: 46px;
    max-width: 300px;
    margin-top: 18px;
    margin-bottom: 16px;
    color: #121212;
    font-size: 26.421px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.164px; /* 121.739% */
    letter-spacing: -0.793px;
    max-width: 70%;
    margin: 0;
  }

  .review-user {
    gap: 9px;
  }

  .back-next {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
  }

  .back-next-mobile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;
    margin-top: 15px;
    margin-bottom: 9px;
  }

  .back-next-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    background-color: #fff;
  }

  .our-review-content {
    color: #505050;
    font-family: Open Sans;
    max-width: 60%;
    font-size: 10.339px;
    font-weight: 400;
    line-height: 14.933px; /* 144.444% */
    letter-spacing: -0.207px;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .user-image-wrap {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .user-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .user-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .user-info-name {
    color: #121212;
    text-align: center;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.785px; /* 137.847% */
    letter-spacing: -0.2px;
  }
  .user-info-title {
    color: #121212;
    text-align: center;
    font-family: Open Sans;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.636px; /* 126.36% */
    letter-spacing: -0.2px;
  }
  .review-content {
    color: #505050;
    font-family: Open Sans;
    font-size: 7.5px;
    font-weight: 400;
    line-height: 11px; /* 146.667% */
    letter-spacing: 0.038px;
    max-width: 85%;
  }

  .star-review {
    width: 13px;
    height: 13px;
  }

  .review-icon-mobile {
    position: absolute;
    top: 180px;
    left: 65%;
  }

  .subscribe {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 74px 0 45px 0;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .subscribe-text {
    color: #fff;
    max-width: 420px;
    font-size: 16.056px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.833px; /* 123.529% */
    letter-spacing: -0.482px;
    max-width: 60%;
    margin-top: 0;
  }
  .subscribe-div {
    background-color: #f5f5f5;
    display: flex;
    padding: 6px 6px 6px 12px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  .input-subscribe {
    border: none;
    background-color: #f5f5f5;
    color: #a8a8a8;
    font-size: 10.224px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.335px; /* 150% */
    letter-spacing: -0.204px;
  }
  .subscribe-btn {
    display: flex;
    padding: 6.134px 14.313px;
    justify-content: center;
    align-items: center;
    background-color: #5c59d4;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 11.246px;
    font-weight: 500;
    line-height: 15.335px; /* 136.364% */
  }
  .footer-img-abs {
    position: absolute;
    top: 366px;
    left: 0;
  }
  .wrap-footer {
    padding-top: 44px;
    padding-bottom: 28px;
  }
  .footer-content {
    flex-direction: column;
    gap: 60px;
  }
  .logo-content {
    margin-top: 14px;
    color: #f5f5f5;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    max-width: 100%;
  }

  .footer-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
  .footer-item-ul-row-mobile {
    display: flex;
    flex: 1;
    gap: 40px;
  }
  .footer-item-ul-mobile {
    flex: 1;
  }
  .footer-item-title-mobile {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 16px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-item-sub-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer-item-sub-mobile {
    color: #f5f5f5;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }

  .copyright-text {
    text-align: center;
    margin-bottom: 28px;
  }

  .category-image {
    margin-right: 0;
  }

  .product-img-mobile-23 {
    max-width: 193px;
  }

  .category-card {
    justify-content: space-between;
  }

  .slidesm {
    width: 100%;
    transition: 1s ease-in-out all;
    display: flex;
    position: absolute;
  }
  .slide {
    min-width: 100%;
    min-height: 150px;
    height: auto;
    left: 0;
  }

  .carousel {
    width: 342px;
    height: 100px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
  }

  .img-product-4{
    height: 160px!important;
  }
}

.carousel-best-seller {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex: 1;
  height: 306px;
}

.carousel-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex: 1;
  height: 306px;
}

.img-product-4{
  height: 306px;
}
